@model VacationOasis.Core.Dtos.HotelDtos.HotelDetailsDTO
@{
    ViewData["Title"] = "Details";
}
<div class="pt-4">
    <div>
        <div>
            <p>Home / <span>House Details</span></p>
        </div>
        <div>
            <h1 class="text-center">@Model.HotelImageName</h1>
            <p class="text-center">@Model.HotelImageLocation</p>
        </div>
    </div>
    <section class="section1">
        <div class="d-flex justify-content-between">
            <div>
                <img src="@Model.HotelImage" class="details-image_left pr-4" alt="image of house" />
            </div>
            <div>
                <div>
                    <img src="@Model.HotelImage" class="details-image_right img-fluid pb-3" alt="image of house 2" />
                </div>
                <div>
                    <img src="@Model.HotelImage" class="details-image_right" alt="image of house3" />
                </div>
            </div>
        </div>
    </section>
    <section class="section2">
        <div class="d-flex justify-content-between pt-5">
            <div class="pr-4">
                <h4>About the place</h4>
                <div class="text-justify">
                    <p>Minimal techno is a minimalist subgenre of techno music. It is characterized by a stripped-down aesthetic that exploits the use of repetition and understated development. Minimal techno is thought to have been originally developed in the early 1990s by Detroit-based producers Robert Hood and Daniel Bell.</p><br />
                    <p>Such trends saw the demise of the soul-infused techno that typified the original Detroit sound. Robert Hood has noted that he and Daniel Bell both realized something was missing from techno in the post-rave era.</p><br />
                    <p>Design is a plan or specification for the construction of an object or system or for the implementation of an activity or process, or the result of that plan or specification in the form of a prototype, product or process. The national agency for design: enabling Singapore to use design for economic growth and to make lives better.</p>
                    <div class="d-flex pb-5 text-center justify-content-between">
                        <div>
                            <img src="~/hOTEL iMAGES/ic_bedroom.svg" alt="bedroom" />
                            <p>@Model.HotelDetailBedRoomNum <span>bedroom</span></p>
                        </div>
                        <div>
                            <img src="~/hOTEL iMAGES/ic_livingroom.svg" alt="livingRoom" />
                            <p>@Model.HotelDetailLivingRoomNum<span>living room</span></p>
                        </div>
                        <div>
                            <img src="~/hOTEL iMAGES/ic_bathroom.svg" alt="bathroom" />
                            <p>@Model.HotelDetailbathRoomNum<span>bathroom</span></p>
                        </div>
                        <div>
                            <img src="~/hOTEL iMAGES/ic_diningroom 1.svg" alt="diningroom" />
                            <p>@Model.HotelDetailDinninRoomNum<span>dining room</span></p>
                        </div>
                    </div>
                    <div class="d-flex text-center justify-content-between">
                        <div>
                            <img src="~/hOTEL iMAGES/ic_wifi 1.svg" alt="Wifi" />
                            <p>@Model.HotelDetailMPS <span>mbp/s</span></p>
                        </div>
                        <div>
                            <img src="~/hOTEL iMAGES/ic_UnitReady.svg" alt="UnitReady" />
                            <p>@Model.HotelDetailUnitReady<span>unit ready</span></p>
                        </div>
                        <div>
                            <img src="~/hOTEL iMAGES/ic_Refigrator.svg" alt="Refigirator" />
                            <p>@Model.HotelDetailRefrigiratorNum<span>refigrator</span></p>
                        </div>
                        <div>
                            <img src="~/hOTEL iMAGES/ic_tv.svg" alt="Televison" />
                            <p>@Model.HotelDetailTelevisionNum <span>television</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card" style="width: 25rem;">
                    <div class="card-body">
                        <div class="pb-1"><h7 class="card-title">Start Booking</h7></div>
                        <div class="pb-1"><h2 class="card-subtitle mb-2 text-muted">$<span id="price">@Model.HotelImagePrice </span>per night</h2></div>
                        <div><p class="card-text">How long you will stay? (night/s)</p></div>
                        <div class="number d-flex pb-1">
                            <span class="minus span">-</span>
                            <input class="inputss" id="input" value="1" />
                            <span class="plus span">+</span>
                        </div>
                        <div>
                            <p class="card-text">Pick a Date</p>
                            <p>You will pay $<span id="priceDisplay"> @Model.HotelImagePrice</span> USD per <span id="night"> 1</span> nights</p>
                        </div>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section2">
        <div class="pt-5">
            <h2>Treasure to Choose</h2>
        </div>
        <div class="d-flex justify-content-between pt-1">
            <div> <img src="~/hOTEL iMAGES/Greenlake.png" alt="Green Lake" /><p>Green Lake<br /><span>Nature</span></p></div>
            <div><img src="~/hOTEL iMAGES/DogClubs.png" alt="Dog Clubs" /><p>Dog Clubs<br /><span>Pool</span></p></div>
            <div><img src="~/hOTEL iMAGES/LabourAndWait.png" alt="Labour and Wait" /><p>Labour and Wait<br /><span>Shopping</span></p></div>
            <div><img src="~/hOTEL iMAGES/Snorkeling.png" alt="Snorkeling" /><p>Snorkeling<br /><span>Beach</span></p></div>
        </div>
    </section>
    <section class="section2">
        <div class="d-flex pt-3">
            <div class="pr-5"> <img src="~/hOTEL iMAGES/HappyfamilyDetails.png" alt="HappyFamily" /></div>
            <div>
                <div class="pb-5 pt-5">
                    <h4>Happy Family</h4>
                </div>
                <div class="pb-4">
                    <img src="~/hOTEL iMAGES/Star 1.svg" alt="star svg" />
                    <img src="~/hOTEL iMAGES/Star 1.svg" alt="star svg" />
                    <img src="~/hOTEL iMAGES/Star 1.svg" alt="star svg" />
                    <img src="~/hOTEL iMAGES/Star 1.svg" alt="star svg" />
                    <img src="~/hOTEL iMAGES/Star 1.svg" alt="star svg" />
                </div>
                <div class="pb-2">
                    <h4>As a wife I can pick a great trip with<br /> my own lovely family ... thank you!</h4>
                </div>
                <div class="pb-5">
                    <p>Anggi, Product Designer</p>
                </div>
                <div class="pb-3">
                    <button>Read Their Story</button>
                </div>
            </div>
        </div>
    </section>
